.room__container{
  border: 1px solid black;
  padding: .5rem;
  min-height: 35rem;
  margin-bottom: .5rem;
}

.room__input{
  width: 90%;
}

.room__button{
  width: 5%;
}

.floatRight{
  text-align: right;
}